<script setup>
defineProps({
  adres: String,
  telefoonnummer: String,
  email: String,
  kvk: String,
})
</script>

<style>
dl {
  display: grid;
  align-items: center;
  grid-template-columns: max-content auto;
}
dt {
  font-size: 1.5rem;
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

dd > a {
  text-decoration: none;
}

dd > a:hover {
  text-decoration: underline;
}
</style>

<template>
  <dl>
    <dt :data-tooltip="$t('contact.address')">📫</dt><dd><a class="contrast" :href="'https://www.google.com/maps/place/' + adres" target="_blank">{{ adres }}</a></dd>
    <dt :data-tooltip="$t('contact.phone')">📞</dt><dd><a class="contrast" :href="'tel: ' + telefoonnummer">{{ telefoonnummer }}</a></dd>
    <dt :data-tooltip="$t('contact.email')">📧</dt><dd><a class="contrast" :href="'mailto: ' + email">{{ email}}</a></dd>
    <dt :data-tooltip="$t('contact.kvk')">🏢</dt><dd class="contrast"><a class="contrast" :href="'https://www.kvk.nl/zoeken/?q=' + kvk" >{{ kvk }}</a></dd>
  </dl>
</template>
