<script setup>
import Contact from "./components/Contact.vue";
import {reactive} from "vue";

const links = reactive({
  linkedin: 'https://www.linkedin.com/in/rsuurd',
  github: 'https://www.github.com/rsuurd',
  gitlab: 'https://www.gitlab.com/rsuurd',
  medium: 'https://medium.com/@rsuurd',
})

const keywords = ['Kotlin', 'Java', 'Scala', 'DevOps', 'Full stack', 'TDD', 'DDD', 'CQRS', 'CI/CD', 'Javascript',
  'Typescript', 'AWS', 'Docker', 'Kubernetes']
</script>

<style>
html {
  background: black url(assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
}

div.links {
  display: flex !important;
  justify-content: space-around;
}

div.links a > img {
  width: 4rem;
}

.motto {
  text-align: center;
  font-style: italic;
}

.keword {
  margin-right: .25rem;
}
</style>
<template>
  <main class="container">
      <header style="display: flex; flex: 1">
          <img src="/logo.svg" alt="TechGenius logo" style="width: 6rem">

          <h1 style="align-self: center; margin: 0">TechGenius</h1>
      </header>

    <article class="grid">
      <div>
        <h4>Rolf Suurd &mdash; Software engineer & architect</h4>
        <p>{{ $t('description') }}</p>
        <p class="motto">{{ $t('motto') }}</p>
        <p><code class="keword" v-for="keyword in keywords">{{ keyword }}</code></p>
      </div>

      <div>
        <Contact adres="Wagen 5, 9408 RE Assen" telefoonnummer="06 44 10 55 23" email="rolf@tech-genius.nl" kvk="88526410"/>
      </div>
    </article>

    <article>
      <div class="links">
        <a v-for="(href, name) in links" :href="href" :data-tooltip="href.substring(8)" target="_blank"><img :src="'/' + name + '.svg'"></a>
      </div>
    </article>
  </main>
</template>
